<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	  autoReload="true" 
	  internalLogLevel="Trace" 
	  internalLogFile="${basedir}/internal_logs/internallog.txt">
	<targets>
		<target xsi:type="AsyncWrapper" name="asyncFile">
			<target name="logfile"
            xsi:type="File"
            fileName="${basedir}/logs/${shortdate}_logfile.json"
            createDirs="true"
            keepFileOpen="false"
            concurrentWrites="true"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30">
				<layout xsi:type="JsonLayout">
					<attribute name="timestamp" layout="${longdate}" />
					<attribute name="level" layout="${level:uppercase=true}" />
					<attribute name="message" layout="${message}" />
					<attribute name="stackTrace" layout="${exception:format=ToString}" />
					<attribute name="path" layout="${mdlc:item=Path}" />
					<attribute name="method" layout="${mdlc:item=Method}" />
					<attribute name="controller" layout="${mdlc:item=Controller}" />
					<attribute name="action" layout="${mdlc:item=Action}" />
					<attribute name="userName" layout="${mdlc:item=UserName}" />
					<attribute name="traceId" layout="${mdlc:item=TraceId}" />
					<attribute name="parameters" layout="${mdlc:item=Parameters}" />
					<attribute name="requestBody" layout="${mdlc:item=RequestBody}" />
					<attribute name="environment" layout="${mdlc:item=Environment}" />
					<attribute name="clientIp" layout="${mdlc:item=ClientIp}" />
					<attribute name="proxyIpChain" layout="${mdlc:item=ProxyIpChain}" />
					<attribute name="operatingSystem" layout="${mdlc:item=OperatingSystem}" />
					<attribute name="deviceType" layout="${mdlc:item=DeviceType}" />
					<attribute name="browser" layout="${mdlc:item=Browser}" />
				</layout>
			</target>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>